{% extends "_dashboard.html" %}

{% block title %}Strona Główna{% endblock %}

{% block content %}
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mb-4">
        <div class="dark:bg-gray-800 py-16 dark:border dark:border-gray-700 rounded-md">
            
        </div>
        <div class="dark:bg-gray-800 py-16 dark:border dark:border-gray-700 rounded-md">
            
        </div>
        <div class="dark:bg-gray-800 py-16 dark:border dark:border-gray-700 rounded-md">
            
        </div>
        <div class="dark:bg-gray-800 py-16 dark:border dark:border-gray-700 rounded-md">
            
        </div>
    </div>
{% endblock %}